services:
    localhost:
        image: postgres
        environment:
            POSTGRES_USER: sem
            POSTGRES_PASSWORD: password
            POSTGRES_DB: semaphore
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - semaphore_network
    semaphore:
        ports:
            - 30540:3000
        depends_on:
            - localhost
        image: public.ecr.aws/semaphore/pro/server:v2.16.43
        environment:
            SEMAPHORE_DB_DIALECT: postgres
            SEMAPHORE_DB_HOST: localhost
            SEMAPHORE_DB_NAME: semaphore
            SEMAPHORE_DB_USER: sem
            SEMAPHORE_DB_PASS: password
            SEMAPHORE_ADMIN: hme
            SEMAPHORE_ADMIN_PASSWORD: password
            SEMAPHORE_ADMIN_NAME: herve
            SEMAPHORE_ADMIN_EMAIL: dockerlite@gmail
            SEMAPHORE_USE_REMOTE_RUNNER: "True"
            SEMAPHORE_RUNNER_REGISTRATION_TOKEN: "W4voMJsvQzYML20qmN9GDeZZ7xe5fnJmYVL9VeYtc1I="
            ANSIBLE_HOST_KEY_CHECKING: "True"
            SEMAPHORE_DB_OPTIONS: "{\"sslmode\":\"disable\"}"
        volumes:
            - data:/var/lib/semaphore
            - config:/etc/semaphore
            - tmp:/tmp/semaphore
        networks:
            - semaphore_network
volumes:
    data:
    config:
    tmp:
    postgres_data:
networks:
    semaphore_network: {driver: "bridge"}
